#### Artificial Neural Network

#### Data preprocessing-part1

In [2]:
#Imporing the libraries

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
# Imporing the dataset
dataset = pd.read_csv('Churn_Modelling.csv')
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
# Independent and Dependent
X = dataset.iloc[:,3:13]
y = dataset.iloc[:, 13]

In [6]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [7]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [11]:
X['Geography'].unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [16]:
# Creat Dummpy variable
geography = pd.get_dummies(X["Geography"], drop_first=True)

In [18]:
geography.head()

   Germany  Spain
0        0      0
1        0      1
2        0      0
3        0      0
4        0      1

In [19]:
gender = pd.get_dummies(X['Gender'], drop_first=True)

In [20]:
gender.head()

   Male
0     0
1     0
2     0
3     0
4     0

In [21]:
## Concatinate the DataFrame
X = pd.concat([X,geography, gender], axis=1)

In [22]:
# Drop Unnecessary columns
X = X.drop(['Geography','Gender'], axis=1)

In [23]:
X.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0

In [24]:
# Splitting dataset into Training set and test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [26]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

#### Part 2 - Now lets make the ANN

In [28]:
# Importing the Keras Libraries and packages
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout

In [29]:
# Initialising the ANN
classifier = Sequential()

In [31]:
#Adding the input layer and the first hidden layer
classifier.add(Dense(units = 6, kernel_initializer = 'he_uniform', activation='relu', input_dim = 11))

In [32]:
#Adding the second hidden layer
classifier.add(Dense(units = 6, kernel_initializer = 'he_uniform', activation='relu'))

In [34]:
#Adding the third hidden layer
classifier.add(Dense(units = 1, kernel_initializer = 'glorot_uniform', activation='sigmoid'))

In [35]:
# Compiling the ANN
classifier.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

WARNING:tensorflow:From e:\Users\venky\Anaconda3\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [36]:
# Fitting the ANN to the training set
model_history = classifier.fit(X_train, y_train, validation_split=0.33, batch_size=10, nb_epoch = 100)

e:\Users\venky\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.

WARNING:tensorflow:From e:\Users\venky\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:422: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

Train on 5359 samples, validate on 2641 samples
Epoch 1/100
5359/5359 [==============================] - 1s 259us/step - loss: 0.5060 - accuracy: 0.7822 - val_loss: 0.4644 - val_accuracy: 0.7955
Epoch 2/100
5359/5359 [==============================] - 1s 124us/step - loss: 0.4461 - accuracy: 0.8056 - val_loss: 0.4408 - val_accuracy: 0.8107
Epoch 3/100
5359/5359 [==============================] - 1s 126us/step - loss: 0.4262 - accuracy: 0.8199 - val_loss: 0.4272 - val_accuracy: 0.8148
Epoch 4/100
5359/5359 [==============================] - 1s 124us/step - loss: 0.4101 - accuracy: 0.8263 - val_loss: 0.4190 - val_accuracy: 0.8217
Epoch 5/100
5359/5359 [==============================] - 1s 125us/step - loss: 0.3972 - accuracy: 0.8308 - val_loss: 0.4057 - val_accuracy: 0.8292
Epoch 6/100
5359/5359 [==============================] - 1s 125us/step - loss: 0.3855 - accuracy: 0.8416 - val_loss: 0.3956 - val_accuracy: 0.8368
Epoch 7/100
5359/5359 [==============================] - 1s 123us/step - loss: 0.3758 - accuracy: 0.8481 - val_loss: 0.3885 - val_accuracy: 0.8368
Epoch 8/100
5359/5359 [==============================] - 1s 137us/step - loss: 0.3674 - accuracy: 0.8520 - val_loss: 0.3845 - val_accuracy: 0.8413
Epoch 9/100
5359/5359 [==============================] - 1s 121us/step - loss: 0.3630 - accuracy: 0.8563 - val_loss: 0.3812 - val_accuracy: 0.8353
Epoch 10/100
5359/5359 [==============================] - 1s 137us/step - loss: 0.3588 - accuracy: 0.8569 - val_loss: 0.3782 - val_accuracy: 0.8413
Epoch 11/100
5359/5359 [==============================] - 1s 128us/step - loss: 0.3555 - accuracy: 0.8606 - val_loss: 0.3762 - val_accuracy: 0.8421
Epoch 12/100
5359/5359 [==============================] - 1s 123us/step - loss: 0.3530 - accuracy: 0.8587 - val_loss: 0.3752 - val_accuracy: 0.8444
Epoch 13/100
5359/5359 [==============================] - 1s 130us/step - loss: 0.3512 - accuracy: 0.8580 - val_loss: 0.3725 - val_accuracy: 0.8493
Epoch 14/100
5359/5359 [==============================] - 1s 152us/step - loss: 0.3490 - accuracy: 0.8608 - val_loss: 0.3730 - val_accuracy: 0.8455
Epoch 15/100
5359/5359 [==============================] - 1s 152us/step - loss: 0.3473 - accuracy: 0.8589 - val_loss: 0.3713 - val_accuracy: 0.8459
Epoch 16/100
5359/5359 [==============================] - 1s 145us/step - loss: 0.3462 - accuracy: 0.8597 - val_loss: 0.3712 - val_accuracy: 0.8489
Epoch 17/100
5359/5359 [==============================] - 1s 151us/step - loss: 0.3452 - accuracy: 0.8582 - val_loss: 0.3705 - val_accuracy: 0.8470
Epoch 18/100
5359/5359 [==============================] - 1s 138us/step - loss: 0.3436 - accuracy: 0.8591 - val_loss: 0.3702 - val_accuracy: 0.8470
Epoch 19/100
5359/5359 [==============================] - 1s 122us/step - loss: 0.3429 - accuracy: 0.8599 - val_loss: 0.3686 - val_accuracy: 0.8485
Epoch 20/100
5359/5359 [==============================] - 1s 123us/step - loss: 0.3422 - accuracy: 0.8602 - val_loss: 0.3673 - val_accuracy: 0.8485
Epoch 21/100
5359/5359 [==============================] - 1s 127us/step - loss: 0.3411 - accuracy: 0.8604 - val_loss: 0.3668 - val_accuracy: 0.8482
Epoch 22/100
5359/5359 [==============================] - 1s 117us/step - loss: 0.3403 - accuracy: 0.8593 - val_loss: 0.3687 - val_accuracy: 0.8459
Epoch 23/100
5359/5359 [==============================] - 1s 122us/step - loss: 0.3391 - accuracy: 0.8597 - val_loss: 0.3670 - val_accuracy: 0.8470
Epoch 24/100
5359/5359 [==============================] - 1s 123us/step - loss: 0.3387 - accuracy: 0.8591 - val_loss: 0.3668 - val_accuracy: 0.8535
Epoch 25/100
5359/5359 [==============================] - 1s 119us/step - loss: 0.3382 - accuracy: 0.8625 - val_loss: 0.3645 - val_accuracy: 0.8482
Epoch 26/100
5359/5359 [==============================] - 1s 122us/step - loss: 0.3365 - accuracy: 0.8597 - val_loss: 0.3632 - val_accuracy: 0.8508
Epoch 27/100
5359/5359 [==============================] - 1s 120us/step - loss: 0.3364 - accuracy: 0.8628 - val_loss: 0.3645 - val_accuracy: 0.8497
Epoch 28/100
5359/5359 [==============================] - 1s 121us/step - loss: 0.3353 - accuracy: 0.8647 - val_loss: 0.3639 - val_accuracy: 0.8569
Epoch 29/100
5359/5359 [==============================] - 1s 124us/step - loss: 0.3356 - accuracy: 0.8617 - val_loss: 0.3618 - val_accuracy: 0.8497
Epoch 30/100
5359/5359 [==============================] - 1s 121us/step - loss: 0.3345 - accuracy: 0.8615 - val_loss: 0.3613 - val_accuracy: 0.8531
Epoch 31/100
5359/5359 [==============================] - 1s 123us/step - loss: 0.3346 - accuracy: 0.8617 - val_loss: 0.3608 - val_accuracy: 0.8512
Epoch 32/100
5359/5359 [==============================] - 1s 124us/step - loss: 0.3335 - accuracy: 0.8643 - val_loss: 0.3596 - val_accuracy: 0.8512
Epoch 33/100
5359/5359 [==============================] - 1s 121us/step - loss: 0.3331 - accuracy: 0.8640 - val_loss: 0.3589 - val_accuracy: 0.8508
Epoch 34/100
5359/5359 [==============================] - 1s 123us/step - loss: 0.3332 - accuracy: 0.8630 - val_loss: 0.3596 - val_accuracy: 0.8557
Epoch 35/100
5359/5359 [==============================] - 1s 120us/step - loss: 0.3316 - accuracy: 0.8647 - val_loss: 0.3617 - val_accuracy: 0.8573
Epoch 36/100
5359/5359 [==============================] - 1s 118us/step - loss: 0.3317 - accuracy: 0.8627 - val_loss: 0.3581 - val_accuracy: 0.8504
Epoch 37/100
5359/5359 [==============================] - 1s 123us/step - loss: 0.3310 - accuracy: 0.8649 - val_loss: 0.3600 - val_accuracy: 0.8519
Epoch 38/100
5359/5359 [==============================] - 1s 120us/step - loss: 0.3312 - accuracy: 0.8623 - val_loss: 0.3579 - val_accuracy: 0.8557
Epoch 39/100
5359/5359 [==============================] - 1s 121us/step - loss: 0.3305 - accuracy: 0.8645 - val_loss: 0.3574 - val_accuracy: 0.8535
Epoch 40/100
5359/5359 [==============================] - 1s 120us/step - loss: 0.3307 - accuracy: 0.8619 - val_loss: 0.3593 - val_accuracy: 0.8497
Epoch 41/100
5359/5359 [==============================] - 1s 119us/step - loss: 0.3303 - accuracy: 0.8651 - val_loss: 0.3576 - val_accuracy: 0.8565
Epoch 42/100
5359/5359 [==============================] - 1s 133us/step - loss: 0.3300 - accuracy: 0.8625 - val_loss: 0.3588 - val_accuracy: 0.8519
Epoch 43/100
5359/5359 [==============================] - 1s 111us/step - loss: 0.3294 - accuracy: 0.8643 - val_loss: 0.3567 - val_accuracy: 0.8569
Epoch 44/100
5359/5359 [==============================] - 1s 109us/step - loss: 0.3291 - accuracy: 0.8642 - val_loss: 0.3577 - val_accuracy: 0.8531
Epoch 45/100
5359/5359 [==============================] - 1s 115us/step - loss: 0.3289 - accuracy: 0.8640 - val_loss: 0.3584 - val_accuracy: 0.8565
Epoch 46/100
5359/5359 [==============================] - 1s 119us/step - loss: 0.3281 - accuracy: 0.8658 - val_loss: 0.3605 - val_accuracy: 0.8516
Epoch 47/100
5359/5359 [==============================] - 1s 121us/step - loss: 0.3285 - accuracy: 0.8651 - val_loss: 0.3585 - val_accuracy: 0.8557
Epoch 48/100
5359/5359 [==============================] - 1s 119us/step - loss: 0.3272 - accuracy: 0.8647 - val_loss: 0.3560 - val_accuracy: 0.8569
Epoch 49/100
5359/5359 [==============================] - 1s 128us/step - loss: 0.3269 - accuracy: 0.8640 - val_loss: 0.3553 - val_accuracy: 0.8565
Epoch 50/100
5359/5359 [==============================] - 1s 122us/step - loss: 0.3264 - accuracy: 0.8642 - val_loss: 0.3560 - val_accuracy: 0.8565
Epoch 51/100
5359/5359 [==============================] - 1s 120us/step - loss: 0.3269 - accuracy: 0.8653 - val_loss: 0.3578 - val_accuracy: 0.8542
Epoch 52/100
5359/5359 [==============================] - 1s 122us/step - loss: 0.3259 - accuracy: 0.8640 - val_loss: 0.3583 - val_accuracy: 0.8561
Epoch 53/100
5359/5359 [==============================] - 1s 121us/step - loss: 0.3263 - accuracy: 0.8627 - val_loss: 0.3561 - val_accuracy: 0.8554
Epoch 54/100
5359/5359 [==============================] - 1s 126us/step - loss: 0.3250 - accuracy: 0.8649 - val_loss: 0.3561 - val_accuracy: 0.8565
Epoch 55/100
5359/5359 [==============================] - 1s 121us/step - loss: 0.3258 - accuracy: 0.8642 - val_loss: 0.3558 - val_accuracy: 0.8565
Epoch 56/100
5359/5359 [==============================] - 1s 119us/step - loss: 0.3256 - accuracy: 0.8660 - val_loss: 0.3587 - val_accuracy: 0.8561
Epoch 57/100
5359/5359 [==============================] - 1s 122us/step - loss: 0.3253 - accuracy: 0.8651 - val_loss: 0.3559 - val_accuracy: 0.8595
Epoch 58/100
5359/5359 [==============================] - 1s 120us/step - loss: 0.3253 - accuracy: 0.8649 - val_loss: 0.3576 - val_accuracy: 0.8576
Epoch 59/100
5359/5359 [==============================] - 1s 122us/step - loss: 0.3257 - accuracy: 0.8662 - val_loss: 0.3554 - val_accuracy: 0.8603
Epoch 60/100
5359/5359 [==============================] - 1s 129us/step - loss: 0.3247 - accuracy: 0.8634 - val_loss: 0.3570 - val_accuracy: 0.8580
Epoch 61/100
5359/5359 [==============================] - 1s 124us/step - loss: 0.3247 - accuracy: 0.8647 - val_loss: 0.3558 - val_accuracy: 0.8595
Epoch 62/100
5359/5359 [==============================] - 1s 120us/step - loss: 0.3241 - accuracy: 0.8634 - val_loss: 0.3549 - val_accuracy: 0.8584
Epoch 63/100
5359/5359 [==============================] - 1s 121us/step - loss: 0.3244 - accuracy: 0.8630 - val_loss: 0.3546 - val_accuracy: 0.8542
Epoch 64/100
5359/5359 [==============================] - 1s 119us/step - loss: 0.3247 - accuracy: 0.8660 - val_loss: 0.3551 - val_accuracy: 0.8569
Epoch 65/100
5359/5359 [==============================] - 1s 122us/step - loss: 0.3239 - accuracy: 0.8658 - val_loss: 0.3541 - val_accuracy: 0.8554
Epoch 66/100
5359/5359 [==============================] - 1s 122us/step - loss: 0.3238 - accuracy: 0.8649 - val_loss: 0.3545 - val_accuracy: 0.8573
Epoch 67/100
5359/5359 [==============================] - 1s 135us/step - loss: 0.3236 - accuracy: 0.8645 - val_loss: 0.3543 - val_accuracy: 0.8565
Epoch 68/100
5359/5359 [==============================] - 1s 123us/step - loss: 0.3234 - accuracy: 0.8645 - val_loss: 0.3552 - val_accuracy: 0.8573
Epoch 69/100
5359/5359 [==============================] - 1s 122us/step - loss: 0.3234 - accuracy: 0.8647 - val_loss: 0.3561 - val_accuracy: 0.8561
Epoch 70/100
5359/5359 [==============================] - 1s 118us/step - loss: 0.3235 - accuracy: 0.8670 - val_loss: 0.3550 - val_accuracy: 0.8576
Epoch 71/100
5359/5359 [==============================] - 1s 123us/step - loss: 0.3235 - accuracy: 0.8651 - val_loss: 0.3554 - val_accuracy: 0.8599
Epoch 72/100
5359/5359 [==============================] - 1s 120us/step - loss: 0.3233 - accuracy: 0.8675 - val_loss: 0.3554 - val_accuracy: 0.8584
Epoch 73/100
5359/5359 [==============================] - 1s 121us/step - loss: 0.3226 - accuracy: 0.8645 - val_loss: 0.3559 - val_accuracy: 0.8565
Epoch 74/100
5359/5359 [==============================] - 1s 121us/step - loss: 0.3223 - accuracy: 0.8675 - val_loss: 0.3606 - val_accuracy: 0.8588
Epoch 75/100
5359/5359 [==============================] - 1s 120us/step - loss: 0.3230 - accuracy: 0.8664 - val_loss: 0.3547 - val_accuracy: 0.8588
Epoch 76/100
5359/5359 [==============================] - 1s 124us/step - loss: 0.3231 - accuracy: 0.8640 - val_loss: 0.3560 - val_accuracy: 0.8599
Epoch 77/100
5359/5359 [==============================] - 1s 119us/step - loss: 0.3235 - accuracy: 0.8643 - val_loss: 0.3541 - val_accuracy: 0.8561
Epoch 78/100
5359/5359 [==============================] - 1s 118us/step - loss: 0.3222 - accuracy: 0.8670 - val_loss: 0.3558 - val_accuracy: 0.8576
Epoch 79/100
5359/5359 [==============================] - 1s 119us/step - loss: 0.3224 - accuracy: 0.8664 - val_loss: 0.3549 - val_accuracy: 0.8576
Epoch 80/100
5359/5359 [==============================] - 1s 116us/step - loss: 0.3227 - accuracy: 0.8658 - val_loss: 0.3554 - val_accuracy: 0.8584
Epoch 81/100
5359/5359 [==============================] - 1s 119us/step - loss: 0.3225 - accuracy: 0.8651 - val_loss: 0.3554 - val_accuracy: 0.8573
Epoch 82/100
5359/5359 [==============================] - 1s 117us/step - loss: 0.3223 - accuracy: 0.8647 - val_loss: 0.3556 - val_accuracy: 0.8580
Epoch 83/100
5359/5359 [==============================] - 1s 118us/step - loss: 0.3224 - accuracy: 0.8658 - val_loss: 0.3551 - val_accuracy: 0.8588
Epoch 84/100
5359/5359 [==============================] - ETA: 0s - loss: 0.3142 - accuracy: 0.87 - ETA: 0s - loss: 0.3192 - accuracy: 0.86 - 1s 121us/step - loss: 0.3230 - accuracy: 0.8647 - val_loss: 0.3595 - val_accuracy: 0.8542
Epoch 85/100
5359/5359 [==============================] - 1s 120us/step - loss: 0.3227 - accuracy: 0.8673 - val_loss: 0.3548 - val_accuracy: 0.8599
Epoch 86/100
5359/5359 [==============================] - 1s 119us/step - loss: 0.3218 - accuracy: 0.8658 - val_loss: 0.3566 - val_accuracy: 0.8591
Epoch 87/100
5359/5359 [==============================] - 1s 117us/step - loss: 0.3214 - accuracy: 0.8642 - val_loss: 0.3563 - val_accuracy: 0.8569
Epoch 88/100
5359/5359 [==============================] - 1s 117us/step - loss: 0.3229 - accuracy: 0.8656 - val_loss: 0.3550 - val_accuracy: 0.8588
Epoch 89/100
5359/5359 [==============================] - 1s 118us/step - loss: 0.3215 - accuracy: 0.8653 - val_loss: 0.3584 - val_accuracy: 0.8580
Epoch 90/100
5359/5359 [==============================] - 1s 132us/step - loss: 0.3219 - accuracy: 0.8658 - val_loss: 0.3583 - val_accuracy: 0.8576
Epoch 91/100
5359/5359 [==============================] - 1s 137us/step - loss: 0.3225 - accuracy: 0.8647 - val_loss: 0.3555 - val_accuracy: 0.8588
Epoch 92/100
5359/5359 [==============================] - 1s 134us/step - loss: 0.3215 - accuracy: 0.8647 - val_loss: 0.3562 - val_accuracy: 0.8588
Epoch 93/100
5359/5359 [==============================] - 1s 124us/step - loss: 0.3218 - accuracy: 0.8632 - val_loss: 0.3559 - val_accuracy: 0.8565
Epoch 94/100
5359/5359 [==============================] - 1s 125us/step - loss: 0.3212 - accuracy: 0.8651 - val_loss: 0.3554 - val_accuracy: 0.8610
Epoch 95/100
5359/5359 [==============================] - 1s 125us/step - loss: 0.3208 - accuracy: 0.8668 - val_loss: 0.3556 - val_accuracy: 0.8569
Epoch 96/100
5359/5359 [==============================] - 1s 123us/step - loss: 0.3221 - accuracy: 0.8649 - val_loss: 0.3555 - val_accuracy: 0.8580
Epoch 97/100
5359/5359 [==============================] - 1s 125us/step - loss: 0.3219 - accuracy: 0.8649 - val_loss: 0.3555 - val_accuracy: 0.8588
Epoch 98/100
5359/5359 [==============================] - 1s 136us/step - loss: 0.3215 - accuracy: 0.8653 - val_loss: 0.3576 - val_accuracy: 0.8588
Epoch 99/100
5359/5359 [==============================] - 1s 123us/step - loss: 0.3218 - accuracy: 0.8658 - val_loss: 0.3567 - val_accuracy: 0.8580
Epoch 100/100
5359/5359 [==============================] - 1s 156us/step - loss: 0.3201 - accuracy: 0.8636 - val_loss: 0.3590 - val_accuracy: 0.8554

#### part 3 - Making the predictions and evaluating the models

In [37]:
# Predicting the test results
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

In [38]:
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [39]:
# Making the confusion_matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [40]:
cm

array([[1540,   55],
       [ 217,  188]], dtype=int64)

In [41]:
#Calculating the accuracy
from sklearn.metrics import accuracy_score
score = accuracy_score(y_pred, y_test)

In [42]:
score

0.864